.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 50%;
  min-width: 400px;
  height: 50%;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}