.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('img/background.jpg');
  background-size: cover;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.slot-machine-graphic {
  /* width: 100vw; */
  height: 87vh;
  width: 35vh;
  flex: 0 0 auto;
  display: flex;
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  background-image: url('img/slots.png');
  background-size: cover;
}

.album-art {
  position: absolute;
  width: 33.5%;
  height: 11.8%;
  top: 8.7%;
  left: 33.3%;
  background-image: url('//localhost/static/master.png');
  background-size: contain;
}

button {
  cursor: pointer;
}

.slot-machine-graphic > button {
  position: absolute;
  width: 15.9%;
  height: 4.3%;
  padding: 0;
  border: none;
  background: url('./img/button.png');
  background-size: cover;
  background-blend-mode: hard-light;
  line-height: 3;
  font-weight: bold;
}

.slot-machine-graphic > button.disabled {
  background: url('./img/button-disabled.png');
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
}

.slot-machine-graphic > button.blue {
  background-color: rgba(0, 0, 255, 1);
}
.slot-machine-graphic > button.green {
  background-color: rgba(0, 255, 0, 1);
}
.slot-machine-graphic > button.yellow {
  background-color: rgba(255, 255, 0, 1);
}

.slot-machine-graphic > button.top-buttons {
  top: 56.3%;
}

.slot-machine-graphic > button.bottom-button {
  bottom: 3.6%;
  left: 42%;
}

.slot-machine-graphic > button#left-button {
  left: 31%;
}

.slot-machine-graphic > button#right-button {
  left: 54%;
}

.reels-container {
  width: 100%;
  height: 100%;
}
