.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.preview {
    flex: 1;
    padding: 10px 0px;
}

.preview-image {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.upload-submit-container {
    display: flex;
}

.upload-submit-container > form {
    flex: 1;
}

.upload-submit-container > form > label {
    cursor: pointer;
}

.confirm-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}